{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Liste des différentes catégories{% endblock %}

{% block body %}
    <h2 class="my-4">Liste des catégories :</h2>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
